body {
    margin: 0;
    padding: 0;
    background-color: rgb(55, 120, 223);
}

.wave-container {
    position: absolute;
    width: 100%;
    height: 100px;  /* 恰好包围wave */
    bottom: 0;
    left: 0;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url("wave.png");
    background-size: 600px 130px;
}

.wave1 {
    opacity: .7;
    background-position-x: 0px;
    animation: wavemove1 20s linear infinite;
}

@keyframes wavemove1 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 600px;   
        /* 和background-size配齐 */
    }
}

.wave2 {
    opacity: .5;
    background-position-x: 0px;
    animation: wavemove2 25s linear infinite;
}

@keyframes wavemove2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -600px;   
        /* 和background-size配齐 */
    }
}

.wave3 {
    opacity: .3;
    background-position-x: 0px;
    animation: wavemove3 15s linear infinite;
}

@keyframes wavemove3 {
    0% {
        background-position-x: 200px;
    }
    100% {
        background-position-x: 800px;   
        /* 和background-size配齐 */
    }
}

